@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font_regular: 'Roboto', sans-serif;
    --font_style_italic: 'Sacramento', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font_regular);
}


